[submodule ".config/mpv/scripts/mpvSockets"]
	path = .config/mpv/scripts/mpvSockets
    url = https://github.com/wis/mpvSockets.git
[submodule "Private Dotfiles"]
	path = Private
	url = https://github.com/guruor/dotfiles.git
