# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
# Default config: https://github.com/sxyazi/yazi/blob/latest/yazi-config/preset/yazi.toml
"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[manager]
ratio = [1, 3, 4]
show_hidden = true
sort_by = "modified"
sort_reverse = true

[opener]
sc-im = [
  { run = 'sc-im "$1"', desc = "sc-im", block = true, for = "unix" }
]

[open]
prepend_rules = [
  # Mime types
  # { mime = "application/pdf", use = "pdf" },

  # File extensions
  { name = "*.csv", use = ["edit", "sc-im", "open", "reveal"] },
  { name = "*.xlsx", use = ["sc-im", "open", "reveal"] },
]
